@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="checkbox"] {
    @apply appearance-none w-4 h-4 rounded-md bg-navy-blue border border-slate
  }
  input[type="checkbox"]:checked {
    @apply appearance-none w-4 h-4 rounded-md bg-[#8c2e2e] border border-slate
  }
}